
.container{
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.img_bg{
    height: 98vh;
    width: 100%;
    background:  center no-repeat url("/static/img/1-79.jpg");
    background-color: #cccccc;
    background-size: cover;
}

.text{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3rem;
    color: #e0c078;;
    transform: translate(-50%, -50%);
}

.text a{
    font-size: 4rem;
    color: aliceblue;
}

.text a:hover{
    color: #3655e6;
}