body{
    max-width: 100%;
    background-image: url("../img/tile_background_tile.png");
}
.background--image{

}

.brand-logo img{
    width: 100px;
    height: 100%;
    padding: 10px;
}
#headline_img{
    width: 100%;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.workout-wrapper{
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);

}

.workout--row{
    border: 1px solid black;
    box-shadow: 10px 10px 14px #aaaaaa;
    background: white;
    border-radius: 10px;
}

.workout--row span{
    font-size: 1.2rem;
}

.workout--row i{
    position: relative;
    right: 5px;
    top: 10px;
    font-size: 24px;
}



.exercise--card{
    text-align: center;
    align-content: center;
}
.exercise--card .s12{
    padding-top: 10px;
    color: black;
}

.exercise--img{
    object-fit: contain;
    width:250px;
    height: 250px;
}

#add_more{
    cursor: pointer;
}