{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">EDIT Workout</h2>
    <!-- Cards container -->
    <div class="workout-wrapper workout-wrapper--cards">
        <form class="col s12" method="POST" action="{{ url_for('create_workout') }}">
       <!-- Workout name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="workout_name" name="workout_name" minlength="3" maxlength="50"
                            value="" type="text" class="validate" required>
                        <label for="workout_name">Workout Name</label>
                    </div>
                </div>



            <!-- exercise selection -->
             <div class="input-field col s12">
                 <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                 <select multiple class="icons" id="exercise_choices" name="exercise_choices">
                    {% for exercise in exercise_list %}
                        {% if exercise.created_by == "admin" or exercise.created_by == session['user'] %}
                            <option value="{{ exercise.exercise_name }}" data-icon="{{ exercise.img_url }}">{{ exercise.exercise_name }}</option>
                        {% endif %}    
                    {% endfor %}
                </select>
                <label>Pick your exercises</label>
              </div>

     <!-- workout sets -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="workout_sets" name="workout_sets" min="0" max="1000"
                        type="number" class="validate" >
                    <label for="workout_sets">Workout sets</label>
                </div>
            </div>

        <!-- workout reps -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="workout_reps" name="workout_reps" min="0" max="1000"
                         type="number" class="validate" >
                    <label for="workout_reps">Workout reps</label>
                </div>
            </div>

        <!-- workout weight -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="weight" name="weight" min="0" max="1000"
                        value="" type="number" class="validate" >
                    <label for="weight">Workout weight</label>
                </div>
            </div>

        <!-- submit button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <!-- cancel button -->
                            <a href="{{ url_for('get_workout') }}" class="btn-large red text-shadow">
                                Cancel <i class="fas fa-times-circle right"></i>
                            </a>
                            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                                Create Workout <i class="fas fa-edit right"></i>
                            </button>
                        </div>
                    </div>
        </form>
    </div>
{% endblock %}

<!--
{'_id': ObjectId('60e4886598c529729386d020'),
 'arhived': True,
 'completed': True,
 'completed_date': '06 July, 2021 18:55:01',
 'create_date': '06 July, 2021 17:46:01',
 'created_by': 'admin',
 'exercise_list': ['Dip', 'Bench', 'Dumbells'],
 'workout_name': 'upper body workout'}
-->