{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Create exercise</h2>
    <!-- Cards container -->
    <div class="workout-wrapper workout-wrapper--cards">
        <form class="col s12" method="POST" action="{{ url_for('create_exercise') }}">
        <!-- Workout name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="exercise_name" name="exercise_name" minlength="3" maxlength="50"
                            value="" type="text" class="validate" required>
                        <label for="exercise_name">Exercise Name</label>
                    </div>
                </div>
        <!-- Desription -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="description" name="description" minlength="3" maxlength="10000"
                        value="" type="text" class="validate" required>
                    <label for="description">Description</label>
                </div>
            </div>
                <!-- about -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="about" name="about" minlength="3" maxlength="10000"
                        value="" type="text" class="validate" >
                    <label for="description">About</label>
                </div>
            </div>

        <!-- Image URL -->
            <div class="row">
                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="Paste image URL">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="img_url" name="img_url" minlength="3" maxlength="500"
                        value="" type="text" class="validate " >
                    <label for="img_url">Image URL</label>
                </div>
            </div>

        <!-- exercise sets -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_sets" name="exercise_sets" min="0" max="1000"
                        type="number" class="validate" >
                    <label for="exercise_sets">Exercise sets</label>
                </div>
            </div>

        <!-- exercise reps -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_reps" name="exercise_reps" min="0" max="1000"
                         type="number" class="validate" >
                    <label for="exercise_reps">Exercise reps</label>
                </div>
            </div>

        <!-- exercise weight -->
            <div class="row">
                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="Enter 0 if no weights required.">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4" ></i>
                    <input id="weight" name="weight" min="0" max="1000"
                        value="" type="number" class="validate" >
                    <label for="weight">Exercise weight</label>
                </div>
            </div>


            <!-- exercise category -->
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <select multiple class="icons" id="exercise_category" name="exercise_category">
                {% for category_item in exercise_category_list %}
                    <option value="{{ category_item.category_name }}" 
                        data-icon="{{ category_item.img_url }}">{{ category_item.category_name }}</option>
                {% endfor %}
            </select>
            <label>Pick your exercise category</label>
            </div>

            <!-- exercise comments -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_comments" name="exercise_comments" minlength="3" maxlength="50"
                        value="" type="text" class="validate" >
                    <label for="exercise_comments">Exercise Comments</label>
                </div>
            </div>

            <!-- Youtube URL -->
            <div class="row">
                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="On youtube.com click SHARE button and copy URL">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="yt_url" name="yt_url" minlength="3" maxlength="50"
                        value="" type="text" class="validate " >
                    <label for="yt_url">Youtube Link</label>
                </div>
            </div>


            <!-- Exercise Steps -->
            <div class="row">
                <div class="input-field col s12">
                    <ul id="steps_list">
                        <li>
                            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                            <input id="step1" name="steps" minlength="3" maxlength="1500"
                                 type="text" class="validate" required>
                            <label for="step1">Step 1</label>
                        </li>
                        <li style="margin-left:3rem;">
                            
                            <input id="step2" name="steps" minlength="3" maxlength="1500"
                                 type="text" class="validate" required>
                            <label for="step2">Next Step</label>
                        </li>
                        <li id="stop">
                            <div id="add_more">
                                <i class="fas fa-plus light-blue-text text-darken-4"></i>
                                <span>Add another step</span>
                            </div>
                        </li>
                    </ul>                    

                </div>
            </div>


        <!-- submit button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <!-- cancel button -->
                            <a href="{{ url_for('get_exercise_list') }}" class="btn-large red text-shadow">
                                Cancel <i class="fas fa-times-circle right"></i>
                            </a>
                            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                                Create Exercise <i class="fas fa-edit right"></i>
                            </button>
                        </div>
                    </div>
        </form>
    </div>
{% endblock %}

