{% extends "base.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ url_for('index') }}">home </a></li>
    <li><span>&gt;</span></li>
    <li><a href="{{ url_for('get_exercise_list') }}">Individual exercises </a></li>
    <li><span>&gt;</span></li>
    <li><span class="underline"> Exercise {{ exercise.exercise_name }}</span></li>
{% endblock %}

{% block content %}
    <!-- Cards container -->
    <div class="exercise-wrapper workout-wrapper--cards">
        <div class="row">
            <div class="col s12"><h2 class="center-align">{{ exercise.exercise_name }}</h2></div>
        </div>

        <div class="row">
            <div class="col s12 m6 exercise--card">
                <img src="{{ exercise.img_url }}" alt="{{ exercise.exercise_name }} image" class="exercise--img"
                     width="250" height="250">
            </div>
            <div class="col s12 m6 ">
                <span class="material-icons">Description</span>
                <p>{{ exercise.description }}</p>
                <a href="{{ url_for('edit_exercise', exercise_id=exercise._id) }}">
                    <span id="edit--exercise--icon">EDIT <i class="fas fa-edit"></i></span>
                </a>
                <div class="row">
                    <div class="col s12">
                        <ul>
                            <li>
                                <span>Sets: {{ exercise.exercise_sets }}</span>
                            </li>
                            <li>
                                <span>Reps: {{ exercise.exercise_reps }}</span>
                            </li>
                            <li>
                                <span>Weight: {{ exercise.weight }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="collapsible expandable">
                    <li class="active">
                        <div class="collapsible-header"><i class="material-icons">Steps</i></div>
                        <div class="collapsible-body">
                            <ol>
                                {% for step in exercise.steps %}
                                    <li><span>{{ step }}</span></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header"><i class="material-icons">About</i></div>
                        <div class="collapsible-body"><span>{{ exercise.about }}</span></div>
                    </li>

                    <li>
                        <div class="collapsible-header"><i class="material-icons">Video</i></div>
                        <div class="collapsible-body">
                            <iframe width="420" height="315" src="{{ exercise.yt_url }}"></iframe>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header"><i class="material-icons">Comments</i></div>
                        <div class="collapsible-body"><span>{{ exercise.exercise_comments }}</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

