{% extends "base.html" %}
{% block content %}
<h2 class="center-align">Modify {{ exercise.exercise_name }}</h2>
    <!-- Cards container -->
    <div class="workout-wrapper">
        <form class="col s12" method="POST" action="{{ url_for('edit_exercise', exercise_id=exercise._id) }}">
        <!-- Workout name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                        <input id="exercise_name" name="exercise_name" minlength="3" maxlength="50"
                            value="{{ exercise.exercise_name }}" type="text" class="validate" required>
                        <label for="exercise_name">Exercise Name</label>
                    </div>
                </div>
        <!-- Desription -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="description" name="description" minlength="3" maxlength="10000"
                        value="{{ exercise.description }}" type="text" class="validate" required>
                    <label for="description">Description</label>
                </div>
            </div>
                <!-- about -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="about" name="about" minlength="3" maxlength="10000"
                        value="{{ exercise.about }}" type="text" class="validate" >
                    <label for="about">About</label>
                </div>
            </div>

        <!-- Image URL -->
            <div class="row">
                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="On youtube.com click SHARE button and copy URL">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="img_url" name="img_url" minlength="3" maxlength="500"
                        value="{{ exercise.img_url }}" type="text" class="validate " >
                    <label for="img_url">Image URL</label>
                </div>
            </div>

        <!-- exercise sets -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_sets" name="exercise_sets" min="0" max="1000"
                    value="{{ exercise.exercise_sets }}"    type="number" class="validate" >
                    <label for="exercise_sets">Exercise sets</label>
                </div>
            </div>

        <!-- exercise reps -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_reps" name="exercise_reps" min="0" max="1000"
                    value="{{ exercise.exercise_reps }}"     type="number" class="validate" >
                    <label for="exercise_reps">Exercise reps</label>
                </div>
            </div>

        <!-- exercise weight -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="weight" name="weight" min="0" max="1000"
                        value="{{ exercise.weight }}" type="number" class="validate" >
                    <label for="weight">Exercise weight</label>
                </div>
            </div>


            <!-- exercise category -->
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <select multiple class="icons" id="exercise_category" name="exercise_category">
                {% for category_item in exercise_category_list %}
                    {% if category_item.category_name in exercise.exercise_category  %}
                        <option value="{{ category_item.category_name }}" selected
                            data-icon="{{ category_item.img_url }}">{{ category_item.category_name }}</option>
                    {% endif %}
                    <option value="{{ category_item.category_name }}"
                            data-icon="{{ category_item.img_url }}">{{ category_item.category_name }}</option>
                {% endfor %}
            </select>
            <label>Pick your exercise category</label>
            </div>

            <!-- exercise comments -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_comments" name="exercise_comments" minlength="3" maxlength="50"
                        value="{{ exercise.exercise_comments }}" type="text" class="validate" >
                    <label for="exercise_comments">Exercise Comments</label>
                </div>
            </div>

            <!-- Youtube URL -->
            <div class="row">
                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="On youtube.com click SHARE button and copy URL">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="yt_url" name="yt_url" minlength="3" maxlength="50"
                        value="{{ exercise.yt_url }}" type="text" class="validate " >
                    <label for="yt_url">Youtube Link</label>
                </div>
            </div>


            <!-- Exercise Steps -->
            <div class="row">
                <div class="input-field col s12">
                    <ul id="steps_list">
                        {% for step in exercise.steps %}

                            <li>
                                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                                <input id="step{{ loop.index }}" name="steps" minlength="3" maxlength="1500"
                                 value="{{ step }}"    type="text" class="validate" required>
                                <label for="step{{ loop.index }}">step{{ loop.index }}</label>
                            </li>


                        {% endfor %}
                        <li id="stop">
                            <div id="add_more">
                                <i class="fas fa-plus light-blue-text text-darken-4"></i>
                                <span>Add another step</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>


        <!-- submit button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <!-- cancel button -->
                            <a href="{{ url_for('get_exercise_list') }}" class="btn-large red text-shadow">
                                Cancel <i class="fas fa-times-circle right"></i>
                            </a>
                            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                                Update Exercise <i class="fas fa-edit right"></i>
                            </button>
                        </div>
                    </div>
        </form>
    </div>
{% endblock %}