{% extends "base.html" %}
{% block title %}
    Fitness Master
{% endblock %}

{% block content %}
    <section class="section-first">
        <div class="section-first--owerlay"></div>
        <div class="container">
            <div class="row">
                <div class="col xl4 l5 m6 s12">
                    <h1>Track your exercise activity</h1>
                    <p>WORK-out smarter, not harder</p>
                </div>
                <div class="col m6 s12">
                            <!-- <img src="/local/components/strata/landing.leads/templates/tpl-city-201811/img/first.png" alt="" class="first-right-img wow fadeGoRight" data-wow-delay="1s" data-wow-duration="4s" style="visibility: visible; animation-duration: 4s; animation-delay: 1s; animation-name: D;"> -->
                    <div class="first-right-block">

                        <div class="first-right-row">
                            <div class="first-right-item active rightGo">
                            <span class="item-animate active  ">F</span>
                            </div>
                            <div class="first-right-item active rightGo">
                            <span class="item-animate" >I</span>
                            </div>
                            <div class="first-right-item dark index rightGo">
                            <span class="item-animate">T</span>
                            </div>
                        </div>
                        <div class="first-right-row">
                            <div class="first-right-item active rightGo">
                                <span class="item-animate">N</span>
                            </div>
                            <div class="first-right-item active rightGo">
                                <span class="item-animate">E</span>
                            </div>
                            <div class="first-right-item active rightGo">
                                <span class="item-animate">S</span>
                            </div>
                            <div class="first-right-item dark rightGo">
                                <span class="item-animate">S</span>
                            </div>
                        </div>
                        <div class="first-right-row">
                            <div class="first-right-item active rightGo">
                                <span class="item-animate" >M</span>
                            </div>
                            <div class="first-right-item active rightGo">
                                <span class="item-animate" >A</span>
                            </div>
                            <div class="first-right-item active rightGo">
                                <span class="item-animate" >S</span>
                            </div>
                            <div class="first-right-item  active rightGo">
                                <span class="item-animate" >T</span>
                            </div>
                            <div class="first-right-item  dark rightGo">
                                <span class="item-animate" >E</span>
                            </div>
                            <div class="first-right-item dark rightGo">
                                <span class="item-animate" >R</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
   

{% endblock %}