{% extends "base.html" %}
{% block title %}
    Fitness Master
{% endblock %}

{% block content %}
    <section class="section-first">

        <div class="container">
            <div class="row">
                <div class="col  s12">
                    <h1>Track your exercise activity</h1>
                </div>
            </div>
            <div class="section-first-slogan-right">
                <p>stick to your healthy habits <br> by tracking your activities.</p>
            </div>
        </div>
        <div class="section-first-slogan-bottom">
            <p>Our tracker will help you see your progress.</p>
        </div>
    </section>
   <section class="section-second">
       <div class="container">
            <h2>TRACK YOUR FITNESS ACTIVITY</h2>
           <div class="gallery"> screenshot gallery here</div>
            <img src="https://image.shutterstock.com/image-vector/ready-fitness-application-uiux-info-260nw-1441869032.jpg" alt="">
       </div>
   </section>


    <section class="section-third">
        <div class="container">
            <h2>START YOUR JOURNEY</h2>

            <p> how to start please use register to open account and start tracking your exercises  </p>
            <p>ready to start your new challenge?</p>
        </div>
        {% if session.user %}
            <a href="{{ url_for("profile") }}" class="waves-effect waves-light btn-large"><i class="fas fa-dumbbell"></i>  PROFILE  <i class="fas fa-dumbbell"></i></a>
        {% else %}
            <a href="{{ url_for("register") }}" class="waves-effect waves-light btn-large"><i class="fas fa-dumbbell"></i>  REGISTER  <i class="fas fa-dumbbell"></i></a>
        {% endif %}
    </section>
{% endblock %}