{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Start Workout &quot;{{ workout_list.workout_name|truncate(26, False, '...', 0) }}&quot;</h2>
    <!--Start button-->
    <div class="container">
        <a class="waves-effect waves-light btn">Start worout <i class="fas fa-stopwatch"></i></a>
    </div>
    <!-- Cards container -->
    <section>
        {% for exercise in exercise_list %}
            {% if exercise.exercise_name in workout_list.exercise_choices %}
                
                <div class="workout-exercise-single-wrapper">
                    <div class="workout-exercise-single-overlay" id="exercise_{{loop.index}}">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col s12 center workout-exercise-single-card-name"><span>{{ exercise.exercise_name|truncate(26, False, '...', 0) }}</span><div class="workout-exercise-single-more-info"><i class="fas fa-info-circle right"></i></div></div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                        <div class="col s4 workout-exercise-single-image-wrapper ">
                                            <img src="{{ exercise.img_url }}"
                                                alt="{{  exercise.exercise_name }} image" width="150" height="150">
                                        </div>
                                        <div class="col s8">
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="col-wrapper-single-exercise">
                                                        <div class="sets"><span>Sets: {{ exercise.exercise_sets }}</span></div>
                                                        <div class="reps"><span>Reps: {{ exercise.exercise_reps }}</span></div>
                                                        <div class="weight">
                                                            <span> weight: 
                                                                {% if exercise.weight =="0" %}
                                                                    OWN BODY
                                                                {% else %}                                                            
                                                                    {{ exercise.weight }}kg
                                                                {% endif %}                                                            
                                                            </span>
                                                        </div>
    {#                                                    <div class="last_completed">completed <span>10</span> times, last time#}
    {#                                                        <span>20/06/2021</span>#}
    {#                                                    </div>#}
    {#                                                    <div class="timer"><span> timer</span></div>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="workout-exercise-single-timer" style="display: block;">
                        <div class="row">
                          <div class="col s8">
                              <div >2 min /  00.00.12</div>
                              <div>Set <span>1</span> of <span>5</span></div>
                              <div>Reps <span>15</span></div>
                        </div>
                           <div class="col s4"><a class="waves-effect waves-light btn disabled">PAUSE</a></div>

                       </div>
                    </div>
        
                </div>
     
          
            
        {% endif %}
    {% endfor %}
</section> 
{% endblock %}
