{% extends "base.html" %}

{% block title %}
    Workouts
{% endblock %}

{% block content %}
    <h2 class="center-align">Workouts</h2>


    <!-- Cards container -->
    <div class="workout-wrapper">
        {% if session["user"] %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="switch">
                        <label>Show completed:<input type="checkbox"><span class="lever"></span></label>
                    </div>
                </div>
                <div class="col s12 m6 right-align ">
                    <div class="add-new-button"><a href="{{ url_for('create_workout') }}">Create new workout <i
                            class="fas fa-plus-circle"></i></a></div>
                </div>
            </div>
            <!--Generate list of workouts -->
            {% for workout in workout_list %}
                {% if workout.created_by == "admin" or workout.created_by == session['user'] %}

                    <!-- link to start workout -->
                    <a href="{{ url_for('start_workout', workout_id=workout._id) }}">
                        <div class="row workout--row">
                            <div class="col s10 workout-card">
                                <h2>{{ workout.workout_name }}</h2>
                                <hr>
                                <div class="workout-card--inner">
                                    <ul>
                                        <li>{{ workout.exercise_choices | length }}
                                            {% if workout.exercise_choices |length < 2 %}
                                                exercise in workout:
                                            {% else %}
                                                exercises in workout:
                                            {% endif %}

                                            <ul class="workout-card--exercises-list browser-default">
                                                {% for exercise in workout.exercise_choices %}
                                                    <li>{{ exercise }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>

                                        {#                                        <li><span>Workout weight {{ workout.weight }} kg.</span></li>#}
                                        {#                                        <li>  <span>last workout {{ workout.created_date }}</span>  </li>#}
                                        {#                                        <li><span>Created by {{ workout.created_by }}</span></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="col s2 right-align"><a
                                    href="{{ url_for('edit_workout', workout_id=workout._id) }}"><i
                                    class="far fa-edit"></i></a></div>
                        </div>
                    </a>

                {% endif %}
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col s12 center">
                    <p>Please Login to view workouts</p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

<!--
{'_id': ObjectId('60e4886598c529729386d020'),
 'arhived': True,
 'completed': True,
 'completed_date': '06 July, 2021 18:55:01',
 'create_date': '06 July, 2021 17:46:01',
 'created_by': 'admin',
 'exercise_list': ['Dip', 'Bench', 'Dumbells'],
 'workout_name': 'upper body workout'}
-->