{% extends "base.html" %}

{% block title %}
    Workouts
{% endblock %}

{% block content %}
    <h2 class="center-align">Workouts</h2>
    <!-- Cards container -->
    <div class="workout-wrapper">
        <div class="row">
            <div class="col s12 m6">
                <div class="switch">
                    <label>Show completed:<input type="checkbox"><span class="lever"></span></label>
                </div>
            </div>
            <div class="col s12 m6 right-align "><div class="add-new-button"><a href="{{ url_for('create_workout')}}">Create new workout <i class="fas fa-plus-circle"></i></a></div></div>
        </div>
        <!--Generate list of workouts -->
        {% for workout in workout_list %}
            <div class="row workout--row">
            <!-- link to start workout -->
                <a href="{{ url_for('edit_workout', workout_id=workout._id) }}">
                    <div class="col s10">
                        <span>{{ workout.workout_name }}</span><br>
                        <span>{{ workout.exercise_choices | length }} exercises (
                            {% for exercise in workout.exercise_choices %}

                                {{ exercise }},
                            {% endfor %})
                    </span><br>
                        <span>current {{ workout.weight }}</span><br>
                        <span>last workout {{ workout.created_date }}</span><br>
                        <span>Created by {{ workout.created_by }}</span>
                    </div>
                    <div class="col s2 right-align"><a href="{{ url_for('edit_workout', workout_id=workout._id) }}"><i class="far fa-edit"></i></a></div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}

<!--
{'_id': ObjectId('60e4886598c529729386d020'),
 'arhived': True,
 'completed': True,
 'completed_date': '06 July, 2021 18:55:01',
 'create_date': '06 July, 2021 17:46:01',
 'created_by': 'admin',
 'exercise_list': ['Dip', 'Bench', 'Dumbells'],
 'workout_name': 'upper body workout'}
-->